body {
  font-family: raleway;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
a {
  color: #6a9ad9;
  transition: 100ms;
  font-size: 20px;
}
a:hover {
  color: #bbd1ee;
}
#header {
  width: 100%;
  min-height: 15%;
  float: left;
  background-size: cover;
  position: relative;
  background-image: url('http://www.pbs.org/wnet/nature/files/2014/10/GrayWolf-Main-e1415205081524-1000x469.jpg');
  background-position: 0px;
}
#header .overLay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
#header .overLay .title {
  font-size: 50px;
  float: right;
  color: #222;
  margin-right: 28px;
  margin-top: 17px;
}
#contentWrap {
  background: #030303;
  min-height: 45%;
  width: 100%;
  float: left;
}
#footer {
  width: 100%;
  background: #162547;
  float: left;
  height: 5%;
}
#map {
  width: 100%;
  height: 80%;
  position: relative;
}
.mapboxgl-canvas {
  left: 0;
  right: 0;
}
