body {
  color: #fff;
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
a {
  color: #6a9ad9;
  transition: 100ms;
  font-size: 20px;
}
a:hover {
  color: #bbd1ee;
}
#header {
  width: 100%;
  height: 100px;
  float: left;
  background-size: cover;
  position: relative;
  background-image: url('http://www.pbs.org/wnet/nature/files/2014/10/GrayWolf-Main-e1415205081524-1000x469.jpg');
  background-position: 0px;
}
#header .overLay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
#header .overLay .title {
  font-size: 50px;
  float: right;
  color: #222;
  margin-right: 28px;
  margin-top: 17px;
}
#contentWrap {
  background: #030303;
  min-height: 45%;
  width: 100%;
  float: left;
}
#footer {
  width: 100%;
  background: #162547;
  float: left;
  height: 5%;
}
#map {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
}
#map .yearToggle {
  position: absolute;
  top: 20px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 5;
  width: 100px;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}
#map .yearToggle li {
  color: #222;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  transition: 200ms;
}
#map .yearToggle li:hover {
  font-weight: bold;
}
#map .yearToggle li.active {
  background: #162547;
  color: #fff;
}
#map .legend {
  position: absolute;
  left: 10px;
  top: 20px;
  background: #fff;
  border: 1px solid #ccc;
  min-height: 200px;
  min-width: 50px;
  z-index: 2;
  color: #222;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#map .legend li {
  text-align: left;
  font-size: 16px;
  color: #444;
  font-family: 'Dosis', sans-serif;
  margin: 4px 10px 4px 4px;
}
#map .legend li span {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 4px;
}
#map .legend li.total {
  border-top: 1px solid #999;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#map .mapOpts {
  position: absolute;
  left: 10px;
  bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 2;
  color: #222;
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.mapboxgl-canvas {
  left: 0;
  right: 0;
}
.mollies {
  background: #256f5b;
}
.canyon {
  background: #3d3177;
}
.snake-river {
  background: #2a506f;
}
.cougar-creek {
  background: #f7f710;
}
.cinnabar {
  background: #449130;
}
.eight-mile {
  background: #bf9600;
}
.prospect-peak {
  background: #eea400;
}
.wapati-lake,
.blacktail {
  background: #ee6000;
}
.junction-butte {
  background: #ee0600;
}
.lamar-canyon {
  background: #582b73;
}
.yellowstone-delta {
  background: #449130;
}
.mary-mountain {
  background: #4a3436;
}
.blecher {
  background: #5b93c6;
}
.agate {
  background: #aa33ae;
}
.six-four-two,
.seven-five-five,
.seven-five-five-eight-eight-nine,
.nine-eleven {
  border: 1px solid #000;
}
.popUp {
  color: #000;
}
