@niceBlue:#2d66b0;
@darkBlue: #162547;
@panelFromTop: 20px;


body {
    //font-family: raleway;
    color:       #fff;
    margin:      0;
    padding:     0;
    background:  #222;
    font-size:   22px;
    font-weight: bold;
    text-align:  center;

    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Poppins', sans-serif;
    //font-family: 'IM Fell English SC', serif;
    //font-family: 'Lora', serif;
    font-family: 'Dosis', sans-serif;
}

a { 
    color:      lighten(@niceBlue, 20%);
    transition: 100ms;
    font-size:  20px;
    &:hover { 
        color: lighten(@niceBlue, 40%);
    }
}

#header {
    width:              100%;
    //min-height:         15%;
    height:             100px;
    float:              left;
    background-size:    cover;
    //background-image:   url('../images/northern_lights_cropped.jpg');
    position:           relative;
    background-image:   url('http://www.pbs.org/wnet/nature/files/2014/10/GrayWolf-Main-e1415205081524-1000x469.jpg');
    background-position: 0px;
    .overLay {
        position:   absolute;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
        //background: linear-gradient(fade(#000, 1%), fade(#000, 100%));
        background: fade(#fff, 60%);
        .title {
            font-size:      50px;
            float:          right;
            color:          #222;
            margin-right:   28px;
            margin-top:     17px;
        }
    }
}
#contentWrap {
    background: #030303;
    min-height: 45%;
    width:      100%;
    float:      left;
}

#footer {
    width:      100%;
    background: @darkBlue;
    float:      left;
    height:     5%;
}
#map {
    width:      100%;
    height:     calc(~"100% - 100px");
    position:   relative;
    .yearToggle {
        position:   absolute;
        top:        @panelFromTop;
        right:      10px;
        background: fade(#fff, 90%);
        z-index:    5;
        width:      100px;
        border:     1px solid #ccc;
        list-style: none;
        padding:    0;
        margin:     0;
        li {
            color:      #222;
            font-size:  14px; 
            padding:    10px;
            cursor:     pointer;
            transition: 200ms;
            &:hover {
                font-weight:    bold;
            }
            &.active {
                background: @darkBlue;
                color:      #fff;
            }
        }
    }
    .legend {
        position:   absolute;
        left:       10px;
        top:        @panelFromTop;
        background: #fff;
        border:     1px solid #ccc;
        min-height: 200px;
        min-width:  50px;
        z-index:    2;
        color:      #222;
        list-style: none;
        margin:     0px;
        padding:    0px;
        font-family:    'Dosis', sans-serif;
        .colourCode {
            height:         20px;
            width:          20px;
            display:        inline-block;
            border-radius:  4px;
        }
        /*
        li {
            text-align:     left;
            font-size:      16px;
            color:          #444;
            font-family:    'Dosis', sans-serif;
            margin:         4px 10px 4px 4px;
            span {
                height:         20px;
                width:          20px;
                display:        inline-block;
                border-radius:  4px;
            }
            &.total {
                border-top:     1px solid #999;
                font-weight:    bold;
                font-size:      16px;
                text-align:     center;
                margin-top:     8px;
                padding-top:    8px;
                padding-bottom: 8px;
            }
        }
        */
    }
    .mapOpts {
        position:   absolute;
        left:       10px;
        bottom:     @panelFromTop;
        background: #fff;
        border:     1px solid #ccc;
        z-index:    2;
        color:      #222;
        list-style: none;
        margin:     0px;
        padding:    10px;
    }
}
.mapboxgl-canvas {
    left:   0;
    right:  0;
}

.mollies {
    background: rgba(37, 111, 91, 1);
}
.canyon {
      background : rgba(61, 49, 119, 1);
}
.snake-river {
     background : rgba(42, 80, 111, 1);
}
.cougar-creek {
      background : rgba(247, 247, 16, 1);
}
.cinnabar {
      background: rgba(68, 145, 48, 1);
}
.eight-mile {
      background: rgba(191, 150, 0, 1);
}
.prospect-peak {
      background: rgba(238, 164, 0, 1);
}
.wapati-lake, .blacktail {
      background: rgba(238, 96, 0, 1);
}
.junction-butte {
      background: rgba(238, 6, 0, 1);
}
.lamar-canyon {
      background: rgba(88, 43, 115, 1);
}
.yellowstone-delta {
    background: rgba(68, 145, 48, 1);
}
.mary-mountain {
    background: rgba(74, 52, 54, 1);
}
.blecher {
    background: rgba(91, 147, 198, 1);
}
.agate {
    background: rgba(170, 51, 174, 1);
}
.six-four-two, .seven-five-five, .seven-five-five-eight-eight-nine, .nine-eleven {
    border: 1px solid #000;
}
.grayling {
    background : rgba(238, 6, 0, 1);
}
.silver {
    background : rgba(229, 229, 229, 1);
}
.quadrant {
    background : rgba(86, 210, 179, 1);
}
.cottonwood {
    background : rgba(84, 0, 4, 1);
}
.druid {
    background : rgba(49, 60, 116, 1);
}
.everts {
    background : rgba(217, 145, 175, 1);
}
.lava {
    background : rgba(193, 228, 63, 1);
}
.gibbon {
    background : rgba(255, 179, 88, 1);
}
.slough {
    background : rgba(160, 24, 20, 1);
}
.cougar-two {
    background : rgba(170, 89, 55, 1);
}
.hellroaring {
    background : rgba(176, 217, 4, 1);
}
.leopold {
    background : rgba(198, 125, 31, 1);
}
.swan-lake {
    background : rgba(125, 78, 189, 1);
}
.hayden-valley {
    background : rgba(86, 210, 179, 1);
}
.nez-perce {
    background: rgba(238, 96, 0, 1);
}
.biscuit-basin {
    background : rgba(217, 145, 175, 1);
}
.chief-joseph {
    background : rgba(66, 51, 51, 1);
}
.geode-creek {
    background : rgba(71, 151, 151, 1);
}
.specimen-ridge {
    background : rgba(171, 212, 189, 1);
}
.loners {
    background: #ccc;
}
.unknown {
    border: 1px dashed #222;
}
.popUp {
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    .popHeader {
       padding: 10px;
       font-size: 16px;
       text-align: center;
       width: 150px;
       margin-bottom: 5px;
    }
}
.mapboxgl-popup-content{
    padding: 0px 0px 10px;
}
