@niceBlue:#2d66b0;
@darkBlue: #162547;


body {
    font-family: raleway;
    color:       #fff;
    margin:      0;
    padding:     0;
    background:  #222;
    font-size:   22px;
    font-weight: bold;
    text-align:  center;

    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Poppins', sans-serif;
    //font-family: 'IM Fell English SC', serif;
    //font-family: 'Lora', serif;
    font-family: 'Dosis', sans-serif;
}

a { 
    color:      lighten(@niceBlue, 20%);
    transition: 100ms;
    font-size:  20px;
    &:hover { 
        color: lighten(@niceBlue, 40%);
    }
}

#header {
    width:              100%;
    //min-height:         15%;
    height:             100px;
    float:              left;
    background-size:    cover;
    //background-image:   url('../images/northern_lights_cropped.jpg');
    position:           relative;
    background-image:   url('http://www.pbs.org/wnet/nature/files/2014/10/GrayWolf-Main-e1415205081524-1000x469.jpg');
    background-position: 0px;
    .overLay {
        position:   absolute;
        top:        0;
        bottom:     0;
        left:       0;
        right:      0;
        //background: linear-gradient(fade(#000, 1%), fade(#000, 100%));
        background: fade(#fff, 60%);
        .title {
            font-size:      50px;
            float:          right;
            color:          #222;
            margin-right:   28px;
            margin-top:     17px;
        }
    }
}
#contentWrap {
    background: #030303;
    min-height: 45%;
    width:      100%;
    float:      left;
}

#footer {
    width:      100%;
    background: @darkBlue;
    float:      left;
    height:     5%;
}
#map {
    width:      100%;
    height:     calc(~"100% - 100px");
    position:   relative;
    .yearToggle {
        position:   absolute;
        top:        100px;
        right:      10px;
        background: fade(#fff, 90%);
        z-index:    5;
        width:      100px;
        border:     1px solid #ccc;
        list-style: none;
        padding:    0;
        margin:     0;
        li {
            color:      #222;
            font-size:  14px; 
            padding:    10px;
            cursor:     pointer;
            transition: 200ms;
            &:hover {
                font-weight:    bold;
            }
            &.active {
                background: @darkBlue;
                color:      #fff;
            }
        }
    }
    .legend {
        position:   absolute;
        left:       10px;
        top:        100px;
        background: #fff;
        border:     1px solid #ccc;
        min-height: 200px;
        min-width:  50px;
        z-index:    2;
        color:      #222;
        list-style: none;
        margin:     0px;
        padding:    10px;
    }
}
.mapboxgl-canvas {
    left:   0;
    right:  0;
}


