<table class="legend" ng-init="orderby='name'">
    <caption class="legendHead">Packs</caption>

    <tr ng-repeat="pack in legendData.packs | orderBy: orderby" ng-mouseover="hoverPack(pack.data.name)" class="packRow">
        <!--<li> <span ng-click="orderby='name'">Pack</span><span ng-click="orderby='years[currentYear].numbers.adults'">Size</span></li>--!>
        <td ng-class="pack.id" class="colourCode"></td>
        <td>{{pack.data.name}}:</td>
        <td ng-if="pack.datanumbers.adults!=='N/A' && !pack.data.numbers.total"> {{pack.data.numbers.adults + pack.data.numbers.pups}}</td>
        <td ng-if="pack.data.numbers.adults=='N/A'">{{pack.data.numbers.adults}}</td>
        <td ng-if="pack.data.numbers.total"> {{pack.data.numbers.total}}</td>
    </tr>

    <tr class="total" ng-if="legendData.other.loners">  <td></td> <td>Loners  </td><td> {{legendData.other.loners.total}}  </td></tr>
    <tr class="total" ng-if="legendData.other.unknowns"><td></td> <td>Unknown </td><td> {{legendData.other.unknowns.total}}</td></tr>
    <tr class="total" ng-if="legendData.other.captives"><td></td> <td>Captives</td><td> {{legendData.other.captives.total}}</td></tr>
    <tr class="total"><td></td> <td>Total</td><td> {{legendData.other.total}} </td></tr>
</table>

