<div id="map">
    <ul class="yearToggle">
        <li ng-repeat="year in allYears" ng-click="changeYear(year)" ng-class="currentYear===year|checkActive">
            {{year}}
        </li>
    </ul>

    <legend></legend>

    <ul class="mapOpts" ng-class="state.opts|checkActive">
        <div class="optsWrap">
            <div class="ui toggle checkbox" ng-click="toggleLabels()">
                <input type="checkbox" name="public" ng-model="state.mapLabels">
                <label>Show Labels</label>
            </div>

            <div class="ui toggle checkbox">
                <input type="checkbox" name="public" ng-model="state.zoomOnYearChange">
                <label>Adjust map on year change</label>
            </div>

        </div>
        <i class="fa fa-gear" ng-click="state.opts=!state.opts"></i>
    </ul>
</div>
