<div header></div>
<div id="map">
    <ul class="yearToggle">
        <li ng-click="changeYear('2016')" ng-class="currentYear=='2016'|checkActive">2016</li>
        <li ng-click="changeYear('2015')" ng-class="currentYear=='2015'|checkActive">2015</li>
        <li ng-click="changeYear('2014')" ng-class="currentYear=='2014'|checkActive">2014</li>
        <li ng-click="changeYear('2013')" ng-class="currentYear=='2013'|checkActive">2013</li>
        <li ng-click="changeYear('2012')" ng-class="currentYear=='2012'|checkActive">2012</li>
    </ul>

    <ul class="legend">
        <li ng-repeat="pack in allPackData">
            <span class={{pack.id}}></span>
            {{pack.name}}:
            {{pack.years[currentYear].numbers.adults + pack.years[currentYear].numbers.pups}}
        </li>
        <li class="total"> Total: {{totalForYear}} </li>
    </ul>
</div>
<!--<div footer></div>--!>
